body{
    background-image: url("../imgs/background.jpg");
}
.homePage{
  display: flex;
  height: 100%;
  width: 100%;
}
.homePage__folders{
    margin: 6em;

}
.homePage__folders div{
    height: 5em;
    width: 5em;
    text-align: center;   
}
.homePage__folders button{
background:none;
border: none;
display: inline;
width: 5.5em;
height: 1.7em;

}
.homePage__folders button a{
color: white;
font-size: 1.3em;
font-weight:500;
    }
.homePage__folders img{
  display: block;
  margin: auto;
  height: 3em;
  width: 3em;

}

.homePage__folders div img:hover{
  cursor: pointer;
}
.homePage__folders div:hover{
    background-color: rgba(42, 42, 53, 0.171);
    outline: inset rgba(0, 4, 255, 0.041);
}
  .homePage__folders div button:hover{
  cursor: pointer;

 }

   .homePage__folders div :focus{
    background:rgba(2, 2, 80, 0);
    outline: dotted 1.2px rgb(255, 255, 255);
   }
   
.homePage__about{
border: ridge 4px rgb(245, 245, 245);
box-shadow: 3px 2px 2px black;
display: inline;
margin: 6em;
height:50em;
width: 100%;
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%,  rgba(241, 211, 211, 0.788) 0%);
}
.homePage__about img{
  margin: auto;
  width: 60em;
}
.homePage__about-title{
  color: aliceblue;
 /* box-shadow: 15px 10px 35px 15px rgb(42, 161, 12) ; opcion 2 /*
 /* border-radius: 20px; opcion 2/*
/*  border-bottom: 3px ridge rgb(117, 0, 128); opcion 2 /*
/**/
  background:rgba(2, 2, 80);
}
.homePage__about-title a{
  color: aliceblue;
padding: 0.9%;
text-decoration: none;
font-size: 21px;
}
.homePage__content{
 /* background-image: url("../imgs/binary.jpg");*/
  display: block;
  flex-wrap: wrap;
  text-align: center;
  width:98%;
  height: 90%;
  background-color: aliceblue;
  margin: 0.5% 0% 0% 0.8%;
  border: outset 4px rgba(126, 122, 122, 0.699) ;
  box-shadow: 0px 0px 2px 2px whitesmoke;
}
.homePage_content-binary{
  display: flex;
}
.homePage_content-binary img{
 background-image: url("../imgs/binary.jpg");
background-color: rgba(19, 235, 235, 0.836);
 height: 65%;
 width: 78.5%;
 opacity: 0.05;
 position: absolute;

}


.homePage__content-title h1{
  z-index: 2;
  font-family: 'Gopixel Personal Use', sans-serif;                                               
 font-size: 4em;
 font-weight: 500;
 box-shadow: 0px 6px 2px 0.5px  rgba(77, 33, 33, 0.568);
 width: 50%;
 margin: 2.3% 1% 1% 24%;

}

.homePage__content-description h2{
  color: rgb(51, 41, 41);
  font-family: 'Minecraft', sans-serif;
  font-size: 2em !important;
   font-weight: 100 !important;                                           
}
.homepage__content-medium{
display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin:2% -10%;

}
.homePage__content-img{


}
.homePage__content-img img{
  object-fit: fill;
 width: 100%;
 height: 50%;  


}
.homePage__content-text{
  border-radius:0px 15px 20px ;
  border-top: none;
  width: 40%;
  height: 100%;
  padding: 2%;
}

.homePage__content-text_content
{
  margin: 0% 2%;
  width: 100%;

}
.homePage__content-text_content li
{
  display:block;
}
.homePage__content-text_content li a{
  display: block;
color: black;
text-decoration: none;
  background:rgba(32, 146, 139, 0.418);
  border-radius:0px 15px 20px ;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 400;
  line-height:1.3em;
  padding: 2%;

  
  /*
    display: block;
  color: black;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  line-height:1.2em;
  width: 90%;*/
}



@media (max-width:1000px){
.homePage__folders{
  display: flex;
  margin:20px;
}
  .homePage__content-title {
   font-size: 1.2em;
  width: 100%;
         }
  .homePage__content-title h1{
    text-align: center;
    margin: auto;
    z-index: 2;
    font-family: 'Gopixel Personal Use', sans-serif;                                               
   font-size: 2em;
   box-shadow: 0px 6px 2px 0.5px  rgba(77, 33, 33, 0.568);
   width: 100%;


}
.homePage__about{
  border: ridge 3px rgb(245, 245, 245);
  box-shadow: 3px 2px 2px black;
  margin:10em -21em;
  height:30em;
  width: 85%;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%,  rgba(241, 211, 211, 0.788) 0%);
  }
.homePage__content{
  display: block;

  text-align: center;
  width:96%;
  height: 90%;
  background-color: aliceblue;
  margin: 0.5% 0% 0% 0.8%;

}
.homepage__content-medium{
margin:10% 1%;
width: 100%;
height: 85%;
}
.homePage__content-text{
  width: 100%;

}
.homePage__content-text_content li{
  display: inline-block;
}

.homePage__content-text li a{
  display: block;
color: black;
text-decoration: none;
  background:rgba(32, 146, 139, 0.418);
  border-radius:0px 20px 20px ;
  width: 80%;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height:1em;
 

  }
  .homePage__content-img img{
    object-fit: fill;
   width: 100%;
   height: 32%;  
 }

}

.homePage__content-description h2{
 font-size: 1.4em;
 font-weight: 500;

}
