.form_content {
    display: block;
    margin:auto;
    height: 60vh;
    width: 150vh;
    background-color:  rgb(179, 189, 189);
    position: absolute;
    top: 0;
    bottom: 5%;
    right: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 5px rgb(59, 56, 56) ;
}

.form_item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 0px;
    height: 3.5vh;
    margin: 0px;
    background-color: rgb(31, 153, 135);
    color: rgb(253, 248, 248);
    font-weight: 700;
}


.field {
    background-color: rgba(175, 164, 164, 0.562);
    background-image: linear-gradient(rgb(162, 189, 189), rgba(66, 92, 104, 0.87));
    border-radius: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 90vh;
    height: 50vh;
    border: 0px outset black;
  /*  box-shadow: 0 5px 10px rgba(69, 62, 131, 0.589),0 3px 10px;*/
}


.field label {
    display: flex;
    font-size: 20px;
    color: #777;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
    padding-bottom: 1%;
}

.field input {
    display: inline-block;
    min-width: 50%;
    line-height: 1.5;
    font-size: 14px;
    border: none;
    background: rgba(0, 0, 0, 0);
    border-bottom: 3px outset rgb(8, 62, 241);
    text-shadow: 2px 2px 20px rgb(8, 62, 241);
    padding-bottom: 1%;
    color: whitesmoke;
    font-weight: 600;
    text-shadow: 1px 2px 3px black;
  
}
.field input:focus{
    border-bottom: 3px inset  rgb(31, 153, 135);
    text-shadow: 2px 2px 20px rgb(31, 153, 135);
    box-shadow: -0px -10px 15px -10px  inset black ;
}
textarea:focus, input:focus{
    outline: none;
}
.field input::selection,.field textarea::selection{
    color: rgba(0, 255, 255, 0.61);
    text-shadow: 2px 2px 3px black;
}

.field textarea {
    background-color: #77777746;
    height: 80px;
    width: 380px;
    max-height: 80%;
    max-width: 50%;
    margin-bottom: 2%;
    border-bottom: 3px outset rgb(8, 62, 241);
    text-shadow: 2px 2px 20px rgb(8, 62, 241);
    color: whitesmoke;
    font-weight: 600;
    text-shadow: 1px 2px 3px black;
}
.field  textarea:focus{
    border-bottom: 3px inset  rgb(31, 153, 135);
    text-shadow: 2px 2px 20px rgb(31, 153, 135);
    box-shadow: -0px -10px 15px -10px  inset black ;
}

input[type="submit"] {
    display: flex;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #01090e;
    color: #fff;
    border: none;
    margin: auto;
    justify-content: center;
    border-radius: 20px;
    text-shadow: 2px 2px rgb(57, 59, 59);

}

input[type="submit"]:hover {
    background-color: #01090e;
    color: #fff;
    text-shadow: 2px 2px rgb(150, 44, 192);
}

input[type="submit"]:active {
    background-color: #01090e;
    color: #fff;
    text-shadow: 1px 1px rgb(209, 94, 255);
}

@media (max-width:500px){
    .form_content {
      
        height: 80%;
        width: 90%;
    
    }
    .field {
      

        width: 90%;
        height: 80%;
   
   
    }
    
}