body{
    background-image: url("../imgs/background.jpg");
}
.homePage__folders{
    margin: 6em;

}
.homePage__folders div{
    height: 5em;
    width: 5em;
    text-align: center;   
}
.homePage__folders button{
background:none;
border: none;
display: inline;
width: 5.5em;
height: 1.7em;

}
.homePage__folders button a{
color: white;
font-size: 1.3em;
font-weight:500;
    }
.homePage__folders img{
  display: block;
  margin: auto;
  height: 3em;
  width: 3em;

}

.homePage__folders div img:hover{
  cursor: pointer;
}
.homePage__folders div:hover{
    background-color: rgba(42, 42, 53, 0.171);
    outline: inset rgba(0, 4, 255, 0.041);
}
  .homePage__folders div button:hover{
  cursor: pointer;

 }

   .homePage__folders div :focus{
    background:rgba(2, 2, 80, 0);
    outline: dotted 1.2px rgb(255, 255, 255);
   }
   
