.collection{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 70%;
}
.collectionItem:hover> img{
    transform: scale(1.05);
    
}

.collectionItem:nth-child(1)::before{
    content: "<>";
    position: absolute;
    padding-top: 1%;
    font-size: 1.5vh;
    font-weight: 600;
    color:darkslategray;
    overflow: hidden;
    width: 60px;
    z-index: 20;
    text-shadow: 1px 1px rgb(83, 175, 179);
  
}
.collectionItem:nth-child(1):hover::before,.collectionItem:nth-child(2):hover::before ,.collectionItem:nth-child(3):hover::before,.collectionItem:nth-child(4):hover::before{
    color: black;
     text-shadow: 1px 1px rgb(151, 129, 129);
 }
.collectionItem:nth-child(2)::before{
    content: "Tools";
    position: absolute;
    padding-top: 1%;
    font-size: 1.5vh;
    font-weight: 600;
    color:darkslategray;
    overflow: hidden;
    width: 60px;
    z-index: 20;
    text-shadow: 1px 1px rgb(83, 175, 179);
}
.collectionItem:nth-child(3)::before{
    content: "Work";
    position: absolute;
    padding-top: 1%;
    font-size: 1.5vh;
    font-weight: 600;
    color:darkslategray;
    overflow: hidden;
    width: 60px;
    z-index: 20;
    text-shadow: 1px 1px rgb(83, 175, 179);
}
.collectionItem:nth-child(4)::before{
    content: "Exp";
    position: absolute;
    padding-top: 1%;
    font-size: 1.5vh;
    font-weight: 600;
    color:darkslategray;
    overflow: hidden;
    width: 60px;
    z-index: 20;
    text-shadow: 1px 1px rgb(83, 175, 179);
}

.collectionItem{
flex: 1;
margin: 80px auto;
width:60px;
max-height: 2px;
justify-content: center;
align-items: center;
position: relative;
}
.collectionItem img{
   width: 60px;
   height: 60px;
}
.collectionBigItem img{
  
}
@keyframes noteMove{
0%{
    display: block;
    position: absolute;
    top:20%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transform:scale(0.3);
}
100%{
    display: block;
    opacity: 1;
    position: absolute;
    top:20%;
    right: 0px;
    left: -50%;
    bottom: 0px;
    transform:scale(1);
 
 transition: all 1s ease-in;
}
}
#bigItem{
    
    position: absolute;
 display: none;
    opacity: 0;
    animation-name: noteMove;
    animation: noteMove 1s linear 0s forwards

    
}

.collectionBigItem img{
    width: 1000px;
    height: 500px;
 
}
@media (max-width:500px){
    .collectionBigItem{
        margin: 9%;
    }
    .collectionBigItem img{
        width: 47vh;
        height: 45vh;    
    }
}

@media (max-width:500px){
    .collection{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: row;
        width: 300px;
    
    }
    .collectionItem::before{
        padding-top: 5% !important;
    }
    @keyframes noteMove{
        0%{
            display: block;
            position: absolute;
            top:20%;
            right: 0px;
            left: 0px;
            bottom: 0px;
            opacity: 0;
            transform:scale(0.3);
        }
        100%{
            display: block;
            opacity: 1;
            position: absolute;
            top:3em;
            right: 0px;
            left: 0%;
            bottom: 0px;
            transform:scale(1);
         
         transition: all 1s ease-in;
        }
        }
        #bigItem{
            
            position: absolute;
         display: none;
            opacity: 0;
            animation-name: noteMove;
            animation: noteMove 1s linear 0s forwards
        
            
        }
}