.homePage__content_Divider{
display: flex;
width: 100%;
height: 100%;
text-align: left;
}
.homePage__content_Divider-part1{
    width: 35%;
    padding-left: 1%;
    padding-top: 1%;
background-color: rgba(248, 248, 248, 0.623);
}


.homePage__content_Divider-part1-first{
    display: flex;
 
    justify-content: center;
}

.wrapper{
    max-width: 1200px;
}
    .wrapper .carousel{
        font-size: 0px;
white-space: nowrap;
cursor: pointer;
overflow: hidden;
scroll-behavior: smooth;
    }
.carousel img{
    height: 250px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100%/3);

}
.carousel img:first-child{
margin-left: 0px;
}
.carousel.dragging{
    cursor:grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}
@media (max-width:900px){
    .carousel img{
        width: calc(100%/2);
    }
}
@media (max-width:550px){
    .carousel img{
        width: calc(100%/1);
    }
}
    
/*-----*/

.homePage__content_Divider-part1-second{
    display: flex;
    justify-content: center;
}
.wrapper2{
    max-width: 1200px;
}
    .wrapper2 .carousel2{
        font-size: 0px;
white-space: nowrap;
cursor: pointer;
overflow: hidden;
scroll-behavior: smooth;
    }
.carousel2 img{
    height: 250px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100%/3);

}
.carousel2 img:first-child{
margin-left: 0px;
}
.carousel2.dragging2{
    cursor:grab;
    scroll-behavior: auto;
}
.carousel2.dragging2 img{
    pointer-events: none;
}
@media (max-width:900px){
    .carousel2 img{
        width: calc(100%/2);
    }
}
@media (max-width:550px){
    .carousel2 img{
        width: calc(100%/1);
    }
}
/*-------*/
.homePage__content_Divider-part2{
    background-image: url("../imgs/binary2.jpg");
    background-size: cover;
    opacity: 0.8;
    width: 65%;
    border-left: 20px solid rgb(226, 226, 224);
}
    .homePage__content_Divider-part2-Child{

        width: 100%;
        height: 100%;
       outline:2px solid rgb(5, 0, 0);
    }
.homePage__content_Divider-part1 a{
    text-decoration: none;
    color: black;
}