.homePage__content_Divider{
display: flex;
width: 100%;
height: 100%;
text-align: left;
}
.homePage__content_Divider-part1{
    width: 35%;
    padding-left: 1%;
    padding-top: 1%;
background-color: rgba(248, 248, 248, 0.623);
}


.homePage__content_Divider-part1-first{
    display: flex;
 
    padding: 40px 0px;
}


.homePage__content_Divider-part1-first-title a{
  font-size: 3vh;
}
.wrapper{
    max-width: 1200px;
}
    .wrapper .carousel{
        font-size: 0px;
white-space: nowrap;
cursor: pointer;
overflow: hidden;
scroll-behavior: smooth;
    }
.carousel img{
    height: 150px;
    object-fit: cover;
    margin-left: 14px;
    margin-top: 10px;
    width: calc(100%/4);

}
.carousel img:hover{
transform: scale(1.1);
transition: 0.8s all;

}
.carousel img:first-child{
margin-left: 0px;
}
.carousel.dragging{
    cursor:grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}
@media (max-width:900px){
    .carousel img{
        width: calc(100%/2);
    }
}
@media (max-width:550px){
    .carousel img{
        width: calc(100%/1);
    }
}
    
/*-----*/

.homePage__content_Divider-part1-second{
    display: flex;
    padding: 40px 0px;
}
.homePage__content_Divider-part1-first-title2 a{
    font-size: 3vh;
  }
.wrapper2{
    max-width: 1200px;
}
    .wrapper2 .carousel2{
        font-size: 0px;
white-space: nowrap;
cursor: pointer;
overflow: hidden;
scroll-behavior: smooth;
    }
.carousel2 img{
    height: 150px;
    object-fit: cover;
    margin-left: 14px;
    margin-top: 10px;
    width: calc(100%/4);

}
.carousel2 img:hover{
    transform: scale(1.1);
    transition: 0.8s all;
    
    }
.carousel2 img:first-child{
margin-left: 0px;
}
.carousel2.dragging2{
    cursor:grab;
    scroll-behavior: auto;
}
.carousel2.dragging2 img{
    pointer-events: none;
}
@media (max-width:900px){
    .carousel2 img{
        width: calc(100%/2);
       
    }
}
@media (max-width:550px){
    .carousel2 img{
        width: calc(100%/1);
   
    }
}
/*-------*/
.homePage__content_Divider-part2{

}
    .homePage__content_Divider-part2-Child{

        opacity: 0.4;
        width: 56vw;
        height: 69.5vh;
    background:linear-gradient(0deg, blue, green 40%, red);
    }
.homePage__content_Divider-part1 a{
    text-decoration: none;
    color: black;
}
 @media (max-width:1000px){
    .homePage__content_Divider-part2-Child{
          
     
        height: 66.8vh;
   
    }
 }
 @media (max-width:500px){
    .homePage__content_Divider{
        display: block;
        width: 100%;
        height: 100%;
        text-align: left;
        }
        
.homePage__content_Divider-part1-first{
    padding:0px;
}
.homePage__content_Divider-part1-second{
    padding:0px;
}
        .homePage__content_Divider-part1{
            width: 100%;
            padding: 0px;
             background-color: rgba(248, 248, 248, 0.623);
        }
        .homePage__content_Divider-part2{
            width: 100%;
            height: 100%;
        }
        .homePage__content_Divider-part2-Child{
          
        
            position: absolute;
            opacity: 0.4;
            width: 96%;
            top: 42.5%;
            bottom: 0px;
            height: 40vh;
            background:linear-gradient(0deg, blue, green 40%, red);
         
          
        
      
        }
        .carousel2 img{
            height: 50px;
            object-fit: cover;
            margin-left: 14px;
            margin-bottom: 14px;
            width: calc(100%/4);
        }

        .carousel img{
            height: 50px;
            object-fit: cover;
            margin-left: 14px;
            margin-bottom: 5px;
            width: calc(100%/4);
  
        }  
        .homePage__content_Divider-part1-first-title {
            text-align: center;
        }
        .homePage__content_Divider-part1-first-title2 {
           text-align: center;
          
        }
        .homePage__content_Divider-part1-first-title a{
            font-size: 2vh;
          
        }
        .homePage__content_Divider-part1-first-title2 a{
            font-size: 2vh;
          
        }
     
    }